h1 {
  font-size: 40px;
  color: #012970;
}
main {
  margin-top: 10%;
}
div > p {
  margin-top: 30px;
}
button {
  background-color: #012970;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 34px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #dc8100;
}
