<app-navbar></app-navbar>
<div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-8">
        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Clusters</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/clusters']">Clusters</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </nav>
            </div>
            <h2 class="mb-4">Select your cluster type</h2>
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <div class="col ">
                    <a [routerLink]="['local']">
                        <div class="card h-100 mb-3 border-primary cluster-type">
                            <img src="assets/img/kubernetes-logo.svg" class="card-img-top mt-3 cluster-type-img"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Kubernetes cluster</h5>
                                <p class="card-text">Add a local kubernetes cluster</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['gke']">
                        <div class="card h-100 mb-3 border-primary cluster-type">
                            <img src="assets/img/gke-logo.svg" class="card-img-top mt-3 cluster-type-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">GKE cluster</h5>
                                <p class="card-text">Add a kubernetes cluster hosted on Google Cloud platform</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['openshift']">
                        <div class="card h-100 mb-3 border-primary cluster-type">
                            <img src="assets/img/openshift-logo.svg" class="card-img-top mt-3 cluster-type-img"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">Openshift cluster</h5>
                                <p class="card-text">Add a kubernetes cluster hosted on Openshift</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['aks']">
                        <div class="card mb-3 border-primary cluster-type">
                            <img src="assets/img/aks-logo.svg" class="card-img-top mt-3 cluster-type-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">AKS cluster</h5>
                                <p class="card-text">Add a kubernetes cluster hosted on Microsoft Azure Kubernetes
                                    Cloud platform</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>

    </div>
</div>