@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #faf9f8;
}

.card {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style pour le bloc orange */

/* Styles pour le texte du bloc orange */

.card-body {
  border-radius: 1rem 1rem 1rem 1rem;
  border: 2px solid #ff6219;
  height: 85%;
}

.form-title {
  color: #ff6219;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.form-label {
  color: #393f81;
}

.btn-login {
  background-color: #ff6219;
  border-color: #ff6219;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #ff4500;
  border-color: #ff4500;
}
label {
}
.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-left: 2.5rem; /* Ajustez la valeur selon la taille de l'icône */
}

.input-with-icon .icon {
  position: absolute;
  left: 10px; /* Ajustez la position de l'icône */
  top: 50%;
  transform: translateY(-50%);
}
.forgot-password {
  color: #3a46c9;
  text-decoration: underline;
  margin-top: 1rem;
}
