<app-navbar></app-navbar>
<p-toast />
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-8">
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Dashboard</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </nav>
                </div>

                <section class="section dashboard row">
                    <div class="col-md-4" role="button">
                        <div class="card info-card cluster-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnCluster('o')">Owned</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnCluster('j')">Joined</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnCluster('')">All</a></li>
                                </ul>
                            </div>

                            <div class="card-body" [routerLink]="['/clusters']">
                                <h5 class="card-title">Clusters <span>| {{ clusterFilter }}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cloudy"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6> {{numberOfClusters}} </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4" role="button">
                        <div class="card info-card teamspace-card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnTeamspace('o')">Owned</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnTeamspace('j')">Joined</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnTeamspace('')">All</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body" [routerLink]="['/teamspaces']">
                                <h5 class="card-title">Teamspaces <span>| {{ teamspaceFilter }} </span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6> {{ numberOfTeamspaces }} </h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-4" role="button">
                        <div class="card info-card project-card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnProject('o')">Owned</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnProject('j')">Joined</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="filterOnProject('')">All</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body" [routerLink]="['/projects']">
                                <h5 class="card-title">Projects <span>| {{ projectFilter }}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-lightbulb"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ numberOfProjects }}</h6>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recent activities</h5>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>