<div class="overlay" #overlay>

    <p-progressSpinner ariaLabel="loading" class="loader" />
    <p class="loader loader-text text-white">Please wait a moment. We are deploying your microservices...</p>
</div>
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-7 ml-4">
            <main id="main" class="main mx-auto">
                <div class="pagetitle">
                    <h1>Deployments</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                            <li class="breadcrumb-item">Deployments</li>
                            <li class="breadcrumb-item active">Deploy with helm charts</li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                <div class="card flex justify-content-center text-center">
                    <p-toast />
                    <p-fileUpload customUpload="true" uploadStyleClass="mx-2 upload-btn" uploadLabel="Deploy now"
                        cancelStyleClass="cancel-btn" (uploadHandler)="onUpload($event, fileUpdoad)" [multiple]="true"
                        accept=".yaml, .yml" maxFileSize="2000000" #fileUpdoad>
                        <p>Drag and drop files to here to upload.</p>
                        <ng-template pTemplate="content">
                            <div *ngIf="messages.error.length || messages.success.length">
                                <p class="fw-bold fs-4 m-3">Deployments summary</p>
                                <div *ngFor="let message of messages.success"
                                    class="text-success-emphasis p-2 text-start">
                                    Created : {{ message }}
                                </div>
                                <div *ngFor="let message of messages.info" class="text-info-emphasis p-2 text-start">
                                    Info : {{ message }}
                                </div>
                                <div *ngFor="let message of messages.error" class="text-danger-emphasis p-2 text-start">
                                    Error : {{ message }}
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </main>

        </div>
    </div>
</div>