<div class="overlay" #overlay>
    <p-progressSpinner ariaLabel="loading" class="loader" />
    <p class="loader loader-text text-white">Please wait a moment. We are deploying your microservices...</p>
</div>
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-7 ml-4">
            <main id="main" class="main mx-auto">
                <div class="pagetitle">
                    <h1>Deployments</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                            <li class="breadcrumb-item"><a
                                    [routerLink]="['/environments', environmentID]">Environment</a></li>
                            <li class="breadcrumb-item active">Deploy with yaml files</li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->
                <p-toast />


                <div class="card flex justify-content-center text-center">
                    <p-fileUpload customUpload="true" uploadStyleClass="mx-2 upload-btn" uploadLabel="Deploy now"
                        cancelStyleClass="cancel-btn" (uploadHandler)="onUpload($event)" [multiple]="true"
                        accept=".yaml, .yml" maxFileSize="2000000">
                        <ng-template pTemplate="content">
                            <div
                                *ngIf="messages && ((messages.error && messages.error) || (messages.success && messages.success) ||(messages.info && messages.info))">
                                <p class="fw-bold fs-4 m-3">Deployments summary</p>
                                <div *ngFor="let message of messages.success"
                                    class="text-success-emphasis p-2 text-start">
                                    Created : {{ message }}
                                </div>
                                <div *ngFor="let message of messages.info" class="text-info-emphasis p-2 text-start">
                                    Info : {{ message }}
                                </div>
                                <div *ngFor="let message of messages.error" class="text-danger-emphasis p-2 text-start">
                                    Error : {{ message }}
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="">
                    <p class="h5">Choose a namespace for your deployments.</p> <small>(Note that will be applied to all
                        deployments)</small><br>
                    <div class="col-md-12 m-2 d-flex align-items-center">

                        <p-dropdown [options]="namespaces" [(ngModel)]="selectedNamespace"
                            placeholder="Choose a namespace" [showClear]="true" />
                        <p class="m-2">or</p>
                        <input type="text" pInputText [(ngModel)]="inputNamespace" variant="filled" />
                        <p-button label="Apply" [outlined]="true" severity="primary" class="m-3"
                            (onClick)="applyNamespace()" [disabled]="!inputNamespace && !selectedNamespace" />
                        <p-button label="Reset" severity="contrast" class="m-3"
                            (onClick)="resetNamespaceSelection()" *ngIf="namespace" />

                    </div>
                </div>
            </main>

        </div>
    </div>
</div>