<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-8 ml-4">
            <main id="main" class="main">
                <app-toast></app-toast>
                <div class="pagetitle">
                    <h1>Clusters</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                            <li class="breadcrumb-item active">Clusters</li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                <!-- get list -->
                <div class="d-flex justify-content-end">
                    <div class="text-start mb-5">
                        <button class="btn btn-outline-secondary" style="margin-right: 1rem;" (click)="reloadPage()">
                            <img src="assets/img/refresh.svg" alt="Refresh">
                            Refresh</button>
                    </div>

                    <div class="text-end mb-5">
                        <button class="btn btn-outline-primary" [routerLink]="['/clusters/add']">Add new
                            Cluster</button>
                    </div>
                </div>

                <div class="card mat-elevation-z8">
                    <div class="card-body ">
                        <h2 class="card-title m-2">My clusters</h2>
                        <table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by name">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let element" class="fw-medium"> {{element.Name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by description">
                                    Description
                                </th>
                                <td mat-cell *matCellDef="let element"
                                    [ngClass]="{'fst-italic' : !element.Description}"> {{element.Description
                                    ?element.Description:"No description"}} </td>
                            </ng-container>

                            <ng-container matColumnDef="IpAddress">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by ip address">
                                    IP Address
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.IpAddress}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Port">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by port">
                                    Port
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.Port == 0 ? "-":element.Port}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CreatedAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by creation date">
                                    Created at
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.CreatedAt | date:"MMM dd, yyyy 'at'
                                    hh:mm a" }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ExpiryDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by expiration date">
                                    Expiry date
                                </th>
                                <td mat-cell *matCellDef="let element" 
                                    [ngClass]="{ 'text-danger': isExpired(element.ExpiryDate), 'text-warning-emphasis': ! isExpired(element.ExpiryDate) && isNearExpiry(element.ExpiryDate) }">
                                    {{ element.ExpiryDate | date:"MMM dd, yyyy 'at' hh:mm a" }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row (click)="showClusterDetails(row)"
                                *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of clusters">
                        </mat-paginator>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>