<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="" class="logo d-flex align-items-center">
            <img src="assets/img/app-logo.png" alt="">
            <span class="d-none d-lg-block">KDI</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown notifications" (click)="showNotifications($event)">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell "></i><span
                        class="position-absolute top-10 mt-1 start-100 translate-middle badge rounded-pill bg-danger"
                        *ngIf="unreadNotifications > 0">
                        {{ unreadNotifications }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>

                <ul class="dropdown-menu">
                    <li class="dropdown-header h-2">
                        You have {{ unreadNotifications }} new messages <a (click)="markAsRead('')"
                            class="d-block float-end notification" style="margin-left: 1rem;">Mark all as read</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li *ngFor="let notification of notifications">
                        <span class="dropdown-item d-block align-items-center notification"
                            (click)="markAsRead(notification)">
                            <i class="bi bi-app-indicator mr-3" [ngClass]="{ 'text-info': !notification.WasRead}"></i>
                            <span class="notification-content">{{ notification.Content }}</span>
                            <br>
                            <span class="notification-time text-muted d-block ml-4 mt-2">{{ notification.CreatedAt |
                                dateago }}</span>
                        </span>
                </ul>
            </li>
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">F.K. Ndiaye</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
<app-toast></app-toast>